<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb461161403578344</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-475395241430-ios-264726b2570d509d4e2077</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.475395241430-kbkq55418qemqkrbf613vrbsn85irc84</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>YES</string>
	<key>FacebookAppID</key>
	<string>461161403578344</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>YES</string>
	<key>FacebookClientToken</key>
	<string>289cbf9e80f7acf4964b0cf96238dea8</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>com.googleusercontent.apps.475395241430-hpr1kug97olsfsaeeuj83hol0cbs029v</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansHebrew-VariableFont_wdth,wght.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
